# Keynote
*.key

# macOS
.DS_Store
.Rproj.user

# Archivos del profesor
**/profe_*

# Acordeones
**/*acordeon*
**/*acordeón*
**/*Acordeon*
**/*Acordeón*
**/*ACORDEON*
**/*ACORDEÓN*

# Archivos CLAUDE.md
**/CLAUDE.md
**/Claude.md
**/claude.md
